/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    justify-content: center;
}

header h1{
    text-align: center;
    color: #59429d;
    padding-top: 5px;
    padding-bottom: 5px;
}

main{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    height: 100px;
    text-align: center;
    background-color: beige;
}

main .main-content{
    display: flex;
    flex-direction: column;
}

.button{
    display: inline-block;
    margin-top: 40px;
}

.button-admin-page{
    display: inline-block;
    border: 1px solid rgb(172, 87, 172);
    background-color: #59429d;
    border-radius: 15px;
    padding: 8px;
}

.button-admin-page a{
    text-decoration: none;
}

.button-admin-page :hover{
    background-color: #7761bb;
}