/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    justify-content: center;
}

header h1{
    text-align: center;
    color: #59429d;
    padding-top: 5px;
    padding-bottom: 5px;
}

main{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    text-align: center;
    background-color: beige;
}

.name-topic{
    align-content: center;
    margin-bottom: 20px;
}

.list-box{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-around;
}

.users-name{
    font-size: 20px;
    display: inline;
}


.alterar-deletar{
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.alterar-button{
    background-color: #a089e6;
    padding: 10px;
    border-radius: 13px;
}

.alterar-button :hover{
    background-color: #b2a2e4;
}

.alterar-button a{
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.delete-button {
    margin-left: 20px;
    display: inline-block;
    background-color: #f30d0d;
    padding: 10px;
    border-radius: 13px;
}

.delete-button a{
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.delete-button :hover{
    background-color: #eb4242;
}